In [22]:
import pandas as pd
import seaborn as sea
import statistics as sts

In [23]:
dataset = pd.read_csv('docs/tempo.csv', sep=';')
dataset.shape

(14, 5)

In [24]:
dataset.head()

  Aparencia  Temperatura  Umidade       Vento Jogar
0       sol           85     85.0       FALSO   nao
1       sol           80     90.0  VERDADEIRO   nao
2   nublado           83     86.0       FALSO   sim
3     chuva           70      NaN       FALSO   sim
4     chuva           68     80.0       FALSO   sim

# Verificação, substituição e deleção de dados NaN (below)

In [25]:
dataset.isnull().sum()

Aparencia      0
Temperatura    0
Umidade        1
Vento          1
Jogar          0
dtype: int64

In [26]:
dataset['Umidade'].describe()

count     13.000000
mean      89.769231
std       34.540203
min       65.000000
25%       70.000000
50%       85.000000
75%       90.000000
max      200.000000
Name: Umidade, dtype: float64

In [27]:
median = sts.median(dataset['Umidade'])
median

85.5

In [28]:
dataset['Umidade'].fillna(median, inplace=True)

In [29]:
dataset.isnull().sum()

Aparencia      0
Temperatura    0
Umidade        0
Vento          1
Jogar          0
dtype: int64

In [30]:
dataset['Vento'].describe()

count        13
unique        2
top       FALSO
freq          7
Name: Vento, dtype: object

In [31]:
dataset = dataset.dropna(subset=['Vento'])

In [32]:
dataset.isnull().sum()

Aparencia      0
Temperatura    0
Umidade        0
Vento          0
Jogar          0
dtype: int64

In [37]:
dataset['Jogar'].describe

<bound method NDFrame.describe of 0     nao
1     nao
2     sim
3     sim
4     sim
5     nao
6     sim
7     nao
8     sim
10    sim
11    sim
12    sim
13    nao
Name: Jogar, dtype: object>

# Tratamento de temperatura (below)

In [33]:
dataset['Temperatura'].describe

<bound method NDFrame.describe of 0       85
1       80
2       83
3       70
4       68
5       65
6       64
7     1220
8       69
10      75
11      72
12      81
13      71
Name: Temperatura, dtype: int64>

In [34]:
dataset.loc[(dataset['Temperatura'] < -130) | dataset['Temperatura'] > 120]

Empty DataFrame
Columns: [Aparencia, Temperatura, Umidade, Vento, Jogar]
Index: []

# Tratamento de Umidade (below)

In [36]:
dataset.loc[(dataset['Umidade'] < 0) | dataset['Umidade'] > 100]

Empty DataFrame
Columns: [Aparencia, Temperatura, Umidade, Vento, Jogar]
Index: []